/* Console coloring */
body, input[type="text"] {
    background-color: black;
    color: white;
    font: 1rem Inconsolata, monospace;
}

input[type="text"] {
    outline: none;
    border: 0;
    padding: 0;
}

.scroll > p {
    margin: 0;
    overflow-wrap: break-word;
}

.spacer {
    height: 1em;
    clear: both;
}